{{! 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
}}

<div>
    {{#with main}}
        <main>
            <section>                   
                {{> title data='Work history' big=true}}
                <div>
                    <ul>
                        {{#each works}}               
                            
                                <div>{{position}}</div>

                                <br>

                                <div>
                                    {{#if company.url}}
                                        {{> link text=company.name href=company.url blank=true noline=true}}
                                    {{else}}
                                        <b>{{company.name}}</b>
                                    {{/if}}                             
                                </div>              
                                

                                <br>

                                <div>
                                    {{duration.from}} - 
                                    {{#if duration.to}}
                                        {{duration.to}}
                                    {{else}}
                                        (I work so far)
                                    {{/if}}
                                </div>                            
                             
                                <br>
                                
                                <div>
                                    <strong>Progects ({{progectAmount}})</strong>
                                </div>

                                <br>

                                <ul>
                                    {{#each progects}}                                   
                                            <div>                                                
                                                {{> link text=name href=url blank=true noline=true}}
                                            </div>
                                           
                                            <div>
                                                <p>{{about}}</p>
                                            </div>                                         
                                            
                                            <br>
                                                   
                                            <div>
                                                <em>Project stacks ({{stackAmount}}):</em>
                                            </div>

                                            <br>   

                                            <div>
                                                {{#each stacks}}
                                                    <li>{{name}}</li>
                                                {{/each}}
                                            </div>
                                        
                                            <br>                                        
                                        
                                            <div>
                                                <em>Project awards ({{awardAmount}}):</em>
                                            </div>

                                            <br>

                                            <div>                                                
                                                {{#each awards}}
                                                    <li>{{name}}</li>
                                                {{/each}}                                                
                                            </div>                                                                                                        
                                    {{/each}}
                                </ul>                            
                            <br>
                        {{/each}}
                    </ul>
                </div>
            </section>            
        </main>
    {{/with}}
</div>

{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}